.header img {
    height: 80px;
}

.header {
    text-align: center;
}

nav {
    background-color: black;
    line-height: 40px;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 7px;
}

a:hover {
    background-color: rgb(221, 183, 112);
    border-radius: 5px;
    transition: 0.89s;
}